*, html, body {
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #00ADEF;
  position: absolute;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  opacity: 1;
}

.navbar-brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-right: 4vw;
  margin-left: 5vw;
  width: 50%;
}

.navbar-brand:hover {
  color: #fff;
  opacity: 0.7;
}

.nav-item a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: 2px solid #00ADEF;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

.nav-item a:hover {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

.nav-item a:active {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

#navbarSupportedContent {
  text-align: center;
}

a.nav-link {
  border: 2px solid #00ADEF;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

div#navcircle {
  height: 100%;
  margin-left: 0;
  padding: 0;
}

div#navbarSupportedContent.collapse.navbar-collapse.show {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.container-fluid {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 3vw;
  position: relative;
  height: 81vh;
  width: 100vw;
  background-color: #0D76BA;
  overflow: scroll;
}

div.container-fluid p {
  padding: 2em;
}

div.container-fluid .mycols {
  height: 90vh;
  margin: 0 1em 1em 1em;
}

div.container-fluid .col-md-6 {
  overflow: scroll;
  width: 100vw;
}

div.container-fluid .col-md-3 {
  height: 83vh;
  margin-top: 0;
  padding: 2.5vh;
  overflow: hidden;
  z-index: 1;
}

div.container-fluid #fixedColumn1 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

div.container-fluid #fixedColumn2 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

div.container-fluid .col-sm-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-left: 5vw;
  width: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

div.container-fluid .col-md-8 {
  height: 83vh;
  z-index: initial;
  max-width: 906px;
  text-align: center;
}

.card {
  margin-top: 50vh;
  text-align: center;
}

img {
  max-width: 300px;
}

span.carousel-control-next-icon {
  background-color: #F0592A;
  border-radius: 50%;
}

span.carousel-control-prev-icon {
  background-color: #F0592A;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .col-md-3 {
    display: none;
  }
  .col-sm-2 {
    display: none;
  }
  .card .card-body .card-title .card-text {
    display: none;
  }
}

#footer {
  background-color: #00ADEF;
  position: fixed;
  margin-bottom: 0px;
  padding: 0;
  height: 9vh;
  border: 2px solid #00ADEF;
}
/*# sourceMappingURL=style.css.map */