*, html, body {
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #0D76BA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background-color: #00ADEF;
  height: 11vh;
  max-width: 1500px;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  opacity: 1;
}

.navbar-brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-right: 4vw;
  margin-left: 5vw;
  width: 50%;
}

.navbar-brand:hover {
  color: #fff;
  opacity: 0.7;
  width: 50%;
}

.nav-item a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: 2px solid #00ADEF;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

.nav-item a:hover {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

.nav-item a:active {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

#navbarSupportedContent {
  text-align: center;
}

a.nav-link {
  border: 2px solid #00ADEF;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 0px;
}

div#navcircle {
  height: 100%;
  padding: 0;
  background-color: #00adef;
}

div#navbarSupportedContent.collapse.navbar-collapse.show {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

#bodyContent {
  position: relative;
  height: 80vh;
  background-color: #0D76BA;
  overflow: scroll;
  margin-top: 11vh;
}

#bodyContent p {
  padding: 2em;
}

#bodyContent .mycols {
  height: 81vh;
  margin: 1em 1em 1em 1em;
  background-color: inherit;
}

#bodyContent .col-md-6 {
  overflow: scroll;
}

#bodyContent .col-md-3 {
  height: 80vh;
  margin-top: 0;
  padding: 2.5vh;
  background-color: transparent;
}

#bodyContent #fixedColumn1 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#bodyContent #fixedColumn2 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#bodyContent .col-md-8 {
  z-index: initial;
  max-width: 906px;
  text-align: center;
  margin-top: calc(100vh - 11vh);
}

#bodyContent .btn-sm {
  text-decoration: none;
  color: #fff;
  background-color: #F0592A;
  border-radius: 10px;
  border: none;
  margin: 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

#bodyContent .btn-sm:hover {
  text-decoration: none;
  color: #0D76BA;
}

#bodyContent h5 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 40%;
}

.card {
  margin-top: 50vh;
  text-align: center;
  max-width: 725px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body {
  text-align: center;
}

.card-title {
  padding-top: 0;
  color: #545554;
}

.card-text {
  color: #545554;
  padding-top: 0;
  margin-bottom: 0;
  max-width: 725px;
  overflow: hidden;
}

.btn-lg {
  text-decoration: none;
  color: #fff;
  background-color: #F0592A;
  border-radius: 10px;
  border: none;
  margin: 0;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-lg:hover {
  text-decoration: none;
  color: #0D76BA;
}

#toTop {
  background-color: #F0592A;
  border: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  color: white;
}

#toTop:hover {
  text-decoration: none;
  color: #0D76BA;
}

.carousel {
  max-width: 50%;
}

span.carousel-control-next-icon {
  background-color: #F0592A;
  border-radius: 50%;
}

span.carousel-control-prev-icon {
  background-color: #F0592A;
  border-radius: 50%;
}

#footer {
  background-color: #00ADEF;
  position: relative;
  margin-bottom: 0px;
  padding: 0;
  height: 9vh;
  border: 2px solid #00ADEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  max-width: 1500px;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    font-size: 2em;
  }
  .nav-item a {
    font-size: .75em;
  }
  div.col-md-6 {
    width: 100%;
  }
  div.col-md-6 h2 {
    font-size: 2em;
  }
  div.col-md-6 p {
    font-size: .75em;
  }
  div.col-md-6 .card-title {
    font-size: 1em;
  }
  div.col-md-6 h6 {
    padding-top: 0;
    font-size: .75em;
  }
}
/*# sourceMappingURL=style.css.map */